<%- include('partials/head') %> 

<h1 class="container-top">دەست پێکردن</h1>
<div class="flex-container"  dir="rtl">
    <% data.slice().reverse().forEach((datas)=>{ %>
        <div class="contain" onclick="location.href='/p/<%=datas.param %>'" style="cursor: pointer;">
            <div class="header-photo">
                <img src="uploads/<%= datas.img %>" alt="" srcset="" style="width: 100%; height: 100%;">
            </div>
            <h1 class="header-title"><%= datas.title.substring(0,25) %></h1>
            <p class="header-text" dir="rtl"><%= datas.description.substring(0,57)%> ...</p>
            <p class="header-date"><%= datas.date %> </p>
        </div>
    <% }) %>
</div>


<%- include('partials/foot') %> 
